target/classes/watermark.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="hris" password="Mule1379" database="hris" doc:name="MySQL Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
     <spring:beans>
        <spring:bean id="myListableObjectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
    </spring:beans>
    
    <objectstore:config name="ObjectStore__Configuration" doc:name="ObjectStore: Configuration" objectStore-ref="myListableObjectStore" persistent="true"/>
    
    <flow name="clearWatermark">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/clearwatermark" doc:name="HTTP"/>
        <objectstore:retrieve-store config-ref="ObjectStore__Configuration" doc:name="ObjectStore" defaultValue-ref="#[0]" key="nextSync" storeValue-ref="#[0]"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <batch:job name="batchProcessRecords">
        <batch:input>
            <poll doc:name="Poll">
                <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
                <watermark variable="nextSync" default-expression="0" selector="LAST" selector-expression="#[payload.record_id]" object-store-ref="myListableObjectStore"/>
                <processor-chain doc:name="Processor Chain">
                    <logger message="#[flowVars.nextSync] - !!! Watermark !!!" level="INFO" doc:name="Logger"/>
                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
                        <db:parameterized-query><![CDATA[select * from records where record_id > #[flowVars.nextSync]]]></db:parameterized-query>
                    </db:select>
                </processor-chain>
            </poll>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step">
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="#[payload.successfulRecords] - Successful" level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>
</mule>
